{% extends "base.html" %}
{% load static %}
{% block content %}


<style type="text/css">   @import url("{% static 'css/login-singup.css' %}")</style>


<form method="post" action="{% url 'register' %}"  autocomplete="nope">
{% csrf_token %}

    <div class="form" id="form">

    <div class="field email">
        <div class="icon"></div>
        <input class='input set-box-size' type="text" name="username" autocomplete="nope" placeholder='Username' maxlength="150" autofocus="" required="" id="email">
    
    </div>
    <div class="field email">
        <div class="icon"></div>
    
    <input class='input set-box-size' type="email" name="email" placeholder='Email' maxlength="254" id="email">
    </div>
    


    <div class="field password">
        <div class="icon"></div>
<input class='input set-box-size' type="password" name="password1" placeholder='Pass the first' autocomplete="new-password" required="" id="password" aria-autocomplete="list">

    </div>

    <div class="field password">
        <div class="icon"></div>
<input class='input set-box-size' type="password" name="password2" placeholder='Pass the second' autocomplete="new-password" required="" id="password">
        
    </div>

    <button class="button" id="submit">Register
        <div class="side-top-bottom"></div>
        <div class="side-left-right"></div>
    </button>
    <input type="hidden" name="next" value="{{ next }}">
    
    {% if form.errors %}
    
    <small style='text-align:center;'>{{form.errors}}</small>
    {% endif %}
    </div>
</form>


<script>
    var formAnim = {
        $form: $('#form'),
        animClasses: ['face-up-left', 'face-up-right', 'face-down-left', 'face-down-right', 'form-complete', 'form-error'],
        resetClasses: function() {
            var $form = this.$form;
            
            $.each(this.animClasses, function(k, c) {
                $form.removeClass(c);
            });
        },
        faceDirection: function(d) {
            this.resetClasses();
            
            d = parseInt(d) < this.animClasses.length? d : -1;
            
            if(d >= 0) {
                this.$form.addClass(this.animClasses[d]);
            } 
        }
    }

    var $input = $('#email, #password'),
            $submit = $('#submit'),
            focused = false,
            completed = false;


    $input.focus(function() {
        focused = true;
        
        if(completed) {
            formAnim.faceDirection(1);
        } else {
            formAnim.faceDirection(0);
        }
    });

    $input.blur(function() {
        formAnim.resetClasses();
    });

    $input.on('input paste keyup', function() {
        completed = true;
        
        $input.each(function() {
            if(this.value == '') {
                completed = false;
            }
        });
        
        if(completed) {
            formAnim.faceDirection(1);
        } else {
            formAnim.faceDirection(0);
        }
    });

    $submit.click(function() {
        focused = true;
        formAnim.resetClasses();
        
        if(completed) {
            $submit.css('pointer-events', 'none');
            setTimeout(function() {
                formAnim.faceDirection(4);
                $input.val('');
                completed = false;

                setTimeout(function() {
                    $submit.css('pointer-events', '');
                    formAnim.resetClasses();
                }, 2000);
            }, 1000);
        } else {
            setTimeout(function() {
                formAnim.faceDirection(5);

                setTimeout(function() {
                    formAnim.resetClasses();
                }, 2000);
            }, 1000);
        }
    });

    $(function() {
        setTimeout(function() {
            if(!focused) {
                $input.eq(0).focus();
            }
        }, 2000);
    })
</script>




{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}



{# Assumes you setup the password_reset view in your URLconf #}
{% comment %} <p><a href="{% url 'password_reset' %}">Lost password?</a></p> {% endcomment %}

{% endblock %}