{% extends 'base.html' %}

{% load static %}


{% block content %}

  <link rel="stylesheet" href="{% static 'css/course-detail.css' %}">


<div class="skills">
          <hr class="hr-text" data-content="{{object.title}}">
        </div>


<section id="wrapper">
   <div class="content">
      <!-- Tab links -->
      <div class="tabs">
         <button class="tablinks active" data-country="Bulletin"><p data-title="Bulletin">Bulletin</p></button>
         <button class="tablinks" data-country="Resources"><p data-title="Resources">Resources</p></button>
         <button class="tablinks" data-country="Sessions"><p data-title="Sessions">Sessions</p></button>
         <button class="tablinks" data-country="Evaluation"><p data-title="Evaluation">Evaluation</p></button>
      </div>

      <!-- Tab content -->
      <div class="wrapper_tabcontent">
         <div id="Bulletin" class="tabcontent active">
            <h3>Bulletin</h3>
            <ul>
            {% for bulletin in bulletinboard %}
               <li>
               <strong>{{bulletin.title}}</strong>
               <br>
                  <p>{{bulletin.description}}</p>by :{{bulletin.publisher.username}}  
               <br>
               </li>
            {% endfor %}
            <ul>
         </div>

         <div id="Resources" class="tabcontent">
            <h3>Resources</h3>
            <ul>
            {% for cr in courseresources %}
               <li>
               <strong>{{cr.title}}</strong>
               <br>
               Download -> <a href='{{ MEDIA_ROOT }}{{cr.file_url.url}}'>File</a>
               </li>
            {% endfor %}
            </ul>
            </div>

         <div id="Sessions" class="tabcontent">
            <h3>Sessions</h3>
            <ul>
               {% for cs in coursesession %}
               <li>
               <strong>{{cs.date}}</strong>
               <ul>
               <li>
                  {{cs.day_of_week}}   
               </li>
               <li>
                  Started on :{{cs.time_start}}   
               </li>
               <li>
                  Finished on :{{cs.time_finish}}   
               </li>
               </ul>
               </li>
            {% endfor %}
            </ul>
         </div>

         <div id="Evaluation" class="tabcontent">
            <h3>Evaluation</h3>
            <ul>
               {% for hw in homeworks %}
               <li>
               {% if hw.homework.passed_sending_time %}
               <div style="text-decoration: line-through;">
               <strong>{{hw.homework.title}}</strong> -{{hw.homework.deadline}} ({{hw.homework.remaining_days}}) 
               </div>
               {% else %}
               <strong>{{hw.homework.title}}</strong> -{{hw.homework.deadline}} ({{hw.homework.remaining_days}}) time-left
               {% endif %}
               <ul>
               {% for hwa in hw.answer %}
               
               <li>
                  Date :{{hwa.modified}} <br>
                  Detail :{{hwa.answer_text}}<br>
                  Uploadted <a href="{{ MEDIA_ROOT }}{{hwa.answer_file.url}}">File</a>
               </li>
               {% endfor %}
               <li>
                  
               <form method='POST' accept-charset="utf-8" enctype="multipart/form-data">
                  {% csrf_token %}
                  <input name='answer_text' type="text" required>
                  <input required name='home_work' id="id_home_work" value="{{hw.homework.id}}" hidden>
                  <input name="student" required id="id_student" value='{{request.user}}' hidden>
                  <input type="file" name="answer_file" required = 'required' accept="*" id="id_answer_file" >
                  

                <button type="submit" >send</button>
               </form>
               </li>
               </ul>
               </li>
            {% endfor %}
            </ul>
            {% comment %} <p>will impelement <br>-Home Work <br>-Quiz <br>--Soon :)</p> {% endcomment %}
         </div>
      </div>
   </div>
</section>


<script>


var tabLinks = document.querySelectorAll(".tablinks");
var tabContent = document.querySelectorAll(".tabcontent");


tabLinks.forEach(function(el) {
   el.addEventListener("click", openTabs);
});


function openTabs(el) {
   var btnTarget = el.currentTarget;
   var country = btnTarget.dataset.country;

   tabContent.forEach(function(el) {
      el.classList.remove("active");
   });

   tabLinks.forEach(function(el) {
      el.classList.remove("active");
   });

   document.querySelector("#" + country).classList.add("active");
   
   btnTarget.classList.add("active");
}
</script>



{% endblock content %}